body {
  color: #777;
  background-color: #000;
  font-family: sans-serif;
  line-height: 150%;
}

h1 { 
  color: #ccc;
  background-color: #000;
}

a { 
  color: #77F;
  background-color: #000;
}

a:visited { 
  color: #F7F;
  background-color: #000;
}
