body {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

div#header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2em;
  color: #888;
  background-color: #000;
  font-family: "bitstream vera sans",helvetica,arial,sans-serif;
  z-index: 100;
}

#scrlr {
  color: #fff;
  background-color: #000;
  margin-right: 0.5em;
}

#help {
  margin-left: 0.5em;
  font-size: small;
}

img#spinner {
  display: none;
  margin-left: 0.5em;
  vertical-align: bottom;
}

div#header a, div#header span, div#header img {
  vertical-align: bottom;
}

#search_log {
  font-size: small;
}

div#mouse_capture_area {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2em;
  z-index: 80;
}

div#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #888;
  background-color: #000;
  z-index: 10;
}

div.panel {
  position: absolute;
  padding: 10px;
  margin: 0px 0px 10px 0px;
  border-width: 0px;
  line-height: 150%;
  text-align: justify;
  color: #888;
  background-color: #000;
  z-index: 50;
}

div.panel img {
  float: left;
  margin-right: 5px;
  z-index: 55;
}

div.panel div.img_div {
  float: left;
  margin-right: 5px;
  z-index: 55;
  width: 240px;
  height: 240px;
  overflow: hidden;
}

div.panel div.title {
  color: #bbb;
  background-color: #000;
  font-weight: bold;
  font-size: 150%;
  line-height: 150%;
  text-align: justify;
  z-index: 55;
}

div.panel div.snipet {
  font-size: 125%;
  line-height: 150%;
  text-align: justify;
  z-index: 55;
}

div.clock_panel { 
  color: #080;
  background-color: #000;
}

div.clock_panel div.title,
div.clock_panel div.snipet {
  color: inherit;
  background-color: inherit;
  font-size: small;
  font-weight: normal;
  line-height: 150%;
  font-family: "consolas","andale Mono","courier new",monospace;
  text-align: left;
}

div.clock_panel div.snipet span.time {
  font-size: x-large;
  line-height: 150%;
  color: #0b0;
  background-color: #000;
}
